BODY{background-color:#646D7E;}
.myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #030303), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #030303 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #030303 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #030303 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #030303 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #030303 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#030303', endColorstr='#6c7c7c',GradientType=0);
	background-color:#030303;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #030303));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #030303 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #030303 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #030303 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #030303 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #030303 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#030303',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
